<section class="fill">
<header>
	<nav class="navbar navbar-expand-lg bg-darkest text-light" aria-label="Menu">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-label="Toggle menu" (click)="showMenu = !showMenu">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" [ngClass]="{ show: showMenu }">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><span class="nav-link" title="Game ID"><i class="fas fa-chess"></i> {{gameId}}</span></li>
					<li class="nav-item">
						<a class="nav-link" routerLink="/" title="Exit"><i class="fas fa-power-off"></i> Main menu</a>
					</li>
					<li class="nav-item">
						<button type="button" class="nav-link" (click)="forfeit()" title="Forfeit"><i class="far fa-flag"></i> Forfeit</button>
					</li>
				</ul>
			</div>
			<div class="d-flex">
				<div class="nav-item">
					<button type="button" class="nav-link" (click)="zoom -= 1" title="Zoom out" [disabled]="zoom == 1"><i class="fas fa-magnifying-glass-minus"></i></button>
				</div>
				<div class="nav-item">
					<button type="button" class="nav-link" (click)="zoom += 1" title="Zoom in" [disabled]="zoom == 5"><i class="fas fa-magnifying-glass-plus"></i></button>
				</div>
			</div>
		</div>
	</nav>
</header>

<main>
	<table class="content zoom-{{zoom}}">
	@if (!!state) {
		<thead>
		<tr>
			<th></th>
			@let timeSteps = [].constructor(grid.steps);
			@for (step of timeSteps; track $index) {
				<th [ngClass]="{ active: $index == grid.currentStep }" style="width: {{boardSize}}px;">{{$index}}</th>
			}
		</tr>
		</thead>
		<tbody>
		@for (timeline of state.TimeLines; track $index) {
			@let $timelineIndex = $index;
			<tr class="timeline">
				<th>{{timeline.Index}}</th>
				@if (!!timeline.Origin) {
					@let timeSteps = [].constructor(timeline.Origin.Time);
					@for (step of timeSteps; track $index) {
						<td></td>
					}
				}
				@for (board of timeline.Boards; track $index) {
					@let $boardIndex = $index;
					<td [ngClass]="{ active: $index + (timeline.Origin?.Time || 0) == grid.currentStep }">
						<div class="board" [ngClass]="($index + (timeline.Origin?.Time || 0))%2 == user.color ? 'black' : 'white'">
						@for (row of board.Squares; track $index) {
							@let $parentIndex = $index;
							<div class="">
								@for (square of row; track $index) {
									<div class="square" [ngClass]="getHighlight($timelineIndex, $boardIndex, $parentIndex, $index)" (click)="select($timelineIndex, $boardIndex, $parentIndex, $index)">
										@if (square !== null) {
											<i [ngClass]="getIcon(square, $index, $parentIndex)"></i>
										} @else {
											&nbsp;
										}
									</div>
								}
							</div>
						}
						</div>
					</td>
				}
			</tr>
		}
		</tbody>
	}
	</table>
</main>

<footer>
	<nav class="navbar bg-dark text-light" aria-label="Actions">
		<div class="container-fluid">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					@if (isPlayerTurn()) {
						<span>Your turn.</span>
					} @else {
						<span>Waiting for other player.</span>
					}
				</li>
				@if (isPlayerTurn()) {
					@if (!!selectedSquare) {
						<li class="nav-item">
							<button type="button" class="nav-link" (click)="deselect()" title="Deselect"><i class="fas fa-ban"></i> Deselect</button>
						</li>
					}
					@if (move.Pieces.length > 0) {
						<li class="nav-item">
							<button type="button" class="nav-link" (click)="undo()" title="Undo"><i class="fas fa-undo"></i> Undo</button>
						</li>
					}
					@if (isMoveComplete()) {
						<li class="nav-item">
							<button type="button" class="nav-link" (click)="confirm()" title="Submit"><i class="fas fa-share"></i> Submit</button>
						</li>
					}
				}
			</ul>
		</div>
	</nav>
</footer>
</section>